@charset "utf-8";
body,a,li,ul,div{
	font-family: "Microsoft Yahei","微软雅黑";
	color:#333;
	text-decoration:none;
	list-style:none;
	margin:0px;
	padding:0px;}
/******************************字体***************************************/
@font-face {
  font-family: 'iconfont';
  src:url(../font/iconfont.eot);
  src: url(../font/iconfont.eot?#iefix) format('embedded-opentype'),
  url(../font/iconfont.woff) format('woff'),
  url(../font/iconfont.ttf) format('truetype'),
  url(../font/iconfont.svg#iconfont) format('svg');}
.iconfont {
  font-family: 'iconfont';
  font-style:normal;
  font-size:20px;}
/******************************返回顶部按钮*******************************/
#backbtn { 
    position:fixed;
	bottom:30px;
	right:30px;
	font-weight:bold;
	font-size:16px;
	border-bottom: 0.15rem solid #040000;
	background: rgba(255,255,255,0.2);
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
	border-radius:5px;
	padding: 10px;
	z-index:50;}
#backbtn:hover a{color:#FFF;}
#backbtn:hover {
	background-color: rgba(0,0,0,0.5);
	color:#FFF;}
@media(max-width:757px) {
#backbtn { 
	bottom:15px;
	right:15px;
	font-size:12px;
	padding: 6px;}
}
/******************************导航栏***********************************/
#header{
	width:100%;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	font-weight:bold;
	background-color:rgba(191, 191, 191, 0.8);
	z-index:200;
	border-bottom: 0.15rem solid #040000;
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
	transition:top ease-out;
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;	
	justify-content:center;}
.navbox{
	width:80%;
	display: -webkit-inline-flex;
	display: inline-flex;
	justify-content:space-around;}
.nav-left{
	margin-right:30%;
	background-color:rgba(223, 223, 223, 0.8);}
.nav-left a{
	min-width:140px;
	font-size:24px;
	width:100%;
	padding:0 20px;
	line-height:50px;
	color:#666;
	opacity:0.7;}
.nav-left a:hover{opacity:1;color:#666;}
.nav-right{
	flex:1 1 auto;
	background-color:rgba(176, 176,176, 0.8);
	font-size:18px;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-flow: row nowrap;	
	justify-content:space-around;}
.nav-right li{
	padding:0 20px;
	flex:1 1 auto;
	line-height:50px;
	text-align:center;}
.nav-right li a{
	text-decoration:none;
	color:#666;
}
.nav-right li:hover,.header_right li:active{background-color:rgba(223, 223, 223, 0.8);}
.nav-right li:hover a,.header_right li:active a{color:#333;}
@media(max-width:1012px) {
.nav-right li{padding:0 5px;font-size:14px;}
.nav-left a{padding:0 5px;font-size:14px;min-width:66px;}
}
@media(max-width:757px) {
.navbox{width:100%;}
}
@media(max-width:550px) {
.nav-left{margin-right:0%;}
.nav-right{width:80%;}
.nav-left{width:20%;}
.nav-right li{padding:0 3px;font-size:12px;}
.nav-left a{padding:0 3px;font-size:12px;min-width:66px;}
}
/********************覆盖层*********************************************/
.cover{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0, 0,0, 0.5);
	z-index:100;}
/***右边侧栏***********************************************************************/
#rightbar{
	width:300px;
	position:fixed;
	bottom:0;
	top:0;
	right:-300px;
	height:100%;
	background-color:rgba(176, 176,176, 0.8);
	z-index:200;
	transition:right 0.5s ease-out;}
.closebtn{
	width:48px;
	height:48px;
	position:absolute;
	top:20px;
	right:0px;}
.closebtn i{
	font:48px/60px;
	width:100%;
	height:100%;
	color:#666;
	border-radius:3px;}
.closebtn i:hover{
	color:#fff;
	background-color:#666;}
#menu { 
	width: 90px; 
	margin: 150px auto; 
	padding: 0; 
	list-style-type: none; }
#menu li { 
    margin-top: 10px; 
	font-weight:bold;
	border-bottom: 0.15rem solid #040000;
	background: #fae2ed;
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
	border-radius:5px;}
#menu a { 
    border-radius:5px;
    display: block; 
	padding: 10px 0; 
	background-color: #fff; 
	color: #333; 
	text-align: center; 
	text-decoration: none;}
#menu .active a { color: #fff; background-color:rgba(255,70,70,0.8);}	
/******************************关于背景的设定***********************************/
body{
	background:url(../images/bg2.jpg) no-repeat center center fixed;
	background-size:cover;
	font: 16px "Microsoft Yahei"; 
	color: #fff;}
/******************************布局***********************************/
.section1 { 
    width:100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right:0;
	z-index:50;
	text-align:center;
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
	background:url(../images/bg1.jpg) no-repeat center center fixed;
	background-size:cover;}
.mycover{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.2);}
.section2 { 
	margin:0;
	padding:0;
	width:100%;
	background:rgba(0,0,0,0.2);
	display:none;
}
/******************************1部分(封面)***********************************/
#main_top{
	position: relative;
    padding-top: 0%;
	opacity:0.2;
	font-weight:bold;}
#main_top h1 a{
	color:rgba(223, 223, 223, 1);
	text-shadow: 2px 1px 2px #000;
	font-weight:bold;
	font-size:50px;}
#main_top h1 a:hover{
	text-decoration:none;
	color:rgba(102,102,102,0.7);}
#main_top p{font-size:24px}
.leader{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	font-weight:bold;
	font-size:18px;}
#main_top hr{
	width:800px;
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid rgba(0,0,0,0.2);
	border: 1px outset rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    width: 80%;}
/************当小屏幕时的响应式设计************/	
@media(max-width:767px) {
#main_top{margin-top:50px;}
#main_top h1>a{font-size:4rem; }
#main_top p{font-size:2rem;}
.intro_link > li {
	display:inline-block;
	margin: 10px;
	padding: 0;
	position:relative;}
.intro_link > li :last-child {margin-bottom: 0;}
#main_top hr{width: 100%;}
.intro_link > li a{
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:50%;}
.intro_link span{display:none;}
.intro_link > li i{
	font-size:24px;
	position:absolute;
	top:0px;
	left:8px;}
}
.intro_link{
	display:block;
	margin:0 auto;
	float:none;}
.btn{
	background:#c0c0c0;
	border:2px outset rgba(0,0,0,0.9);
	margin-bottom:20px;
	display:inline-block;
    transition: 0.2s;
	box-shadow:3px 3px 3px rgba(0,0,0,0.5);
	text-shadow:1px 1px 1px rgba(0,0,0,0.6);}
.btn:hover{
	color:#fff;
	background:rgba(0, 0, 0, 0.8);
	transform:scale(1.1);
	transition:0.2s;
	box-shadow:3px 3px 3px rgba(0,0,0,0.5);
	text-shadow:1px 1px 1px rgba(0,0,0,0.6);
	letter-spacing: 2px;}
.intro_link li a {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	background-color:rgba(204,204,204,0.6);}
/******************************2部分(我的文章)***********************************/
.myBox {
	margin:0 auto;
	padding-top:80px;
	text-align: center;
	overflow: hidden;
	width: 80%;
	position: relative;}
.myItem {
	width: 90%;
	margin:60px 5%;
	background:rgba(224,224,224,0.8);
	padding: 30px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-radius:3px;}
.myTitle {
	margin: 0 auto;
	display: block;
	text-align: center;}
.myIco{	
    width: 100px;
	height: 100px;
	border-radius:50%;
	overflow:hidden;
	background-color:#FFF;
	display:inline-block;
	}
/****头像旋转***/
.myIco:hover {
	-webkit-transform: rotate(3600deg);
    transform: rotate(3600deg);
    transition: all 1s 0s;
}
.myIco>div{width:100%;height:100%;}
.myActicleInfo{margin: 0 auto;}
.myActicleInfo>span{
	font-size: 13px;
	color:#999;
	height:30px; 
	line-height:30px;}
.myItem>span{
	font-size: 13px;
	color: #fff;
	opacity:0.7;
	margin-bottom:5px;}
.myItem>span:hover{opacity:1;}
.myItem h2{font-size:24px;}
.myItem hr{
	border:2px dotted #CCCCCC;
	width: 100%;text-align:left;}
.mytext{width: 100%;}
.mytext p{
	font-size:14px;
	line-height:24px;
	width:100%;
	text-align:left;
	text-indent:2em;}
.readbtn{
	font-size: 15px;
	display: block;
	width: 100%;
	height: 35px;
	border-radius: 3px;
	line-height: 35px;
	background-color:rgba(255,70,70,0.8);
	color: #eee;}
.readbtn a{color:#fff;}
.readbtn a:hover{
    color:#fff; 
	font-weight:bold;
	text-decoration:none;}
/***文章页的样式*****/
.myActicle {
	height:auto;
	min-height:600px;}
.lovebtn { 
    margin:50px auto;
	border-radius:50%;
	height:70px;
	width:70px;
	border:1px solid #F66;
	color:#F66;
	font-size:28px;
	line-height:70px;}
.lovebtn:hover,.loved {
	background-color:#F66;
	color:#FFF;
	font-weight:bold;}
.myActicle textarea{
	width:100%;
	height:auto;
	min-height:80px;
	margin-bottom:10px;}	
.commentbtn{
	font-size: 15px;
	display: block;
	height: 35px;
	padding:0 20px;
	float:right;
	border-radius: 3px;
	line-height: 35px;
	background-color:rgba(255,70,70,0.8);
	color: #eee;
	border:none;}
.commentbox{
	clear:both;
	width:100%;}
.commentbox li{
	width:100%;
	line-height:36px;
	text-align:left;
	font-size: 13px;
	border-bottom:1px dotted #aaa;}
.commentbox li img{
	width:20px;  
    height:20px;
	margin-right:10px;}
.reply{float:right;}
.commentbox li a{color:#999;margin-right:10px;}
.commentbox li, .commentbox li a,.commentbox li img{
	vertical-align:central;}
/***********响应式**********/
@media(max-width:757px) {
.myItem {
	width: 96%;
	margin:60px 2%;}
.myBox {width:96%;margin:0 2%;}
}
/*********************页脚****************************************************/
.foot { 
   width:100%;
   height:160px;
   font-size:14px;
   color: #fff; 
   text-align: center;
   background-color:#666;}
.bd{line-height:60px; }
.ft{line-height:20px; }
.foot a { 
   color: #fff;}
.foot a:hover { 
   color: #fff;
   font-weight:bold;}
   
/******************左边作品页*************************************************************/
.probox{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content:space-between;
	background-color:rgba(255,255,255,1);
	overflow:hidden;
	padding-top:50px;}
.probox > div{
	height:100%;}
.index{
	width:35%;
	opacity:1;
	border-right:1px ridge #666;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	min-width:400px;
	background-image:-webkit-linear-gradient(right,#ccc, #EFEFEF,#ccc);}
.content{width:65%;
    min-width:500px;}
/******内容******/
.title{
	width:100%;
	height:60px;
	border-bottom:2px  outset #666;}
.title h2,.title h3{
	height:60px;
	line-height:60px;
	text-indent:2em;}	
.showbox{padding:20px;overflow:auto;}
.showbox li{
	width:110px;
	height:110px;
	text-align:center;
	float:left;}
.showbox ul > li a{
	color:#333;
	padding-top:60px;
	width:100%;
	display:block;
	line-height:16px;}
.P{background:url(../images/P.png) top center no-repeat;}
.C{background:url(../images/C.png) top center no-repeat;}
/****目录**********/
.list{
	width:95%;
    padding-left:5%;
    height:75%;
    padding-bottom:80px;
	overflow:auto;
	}	
.list div{
	text-indent:2em;
	position:relative;
	margin-left:30px;
	}
.list li{
	margin-left:18px;
	line-height:30px;}
.c-name{
	background:url(../images/c0.png) 2px center no-repeat;}
.p-name{background:url(../images/p0.png) left center no-repeat;}
.list div i{
	width:25px;
	height:25px;
	background:url(../images/3j.png) center center no-repeat;
	display:block;
	position:absolute;
	top:0;
	left:-25px;
	transition: transform .5s;
    -webkit-transition: transform .5s;}
.list ul{
	transition: height .5s;
    -webkit-transition: height .5s;
	overflow:hidden;
	display:block;}
.list li div i,.list li div,.list li{vertical-align:baseline;}
#leftnone{display:none;}
#leftbtn{display:none;}
.leftbar{
	left:0px;
	opacity:1;}
/********展开和收起***********/
.hide{height:0;}
.show{min-height:25px;
	height:auto !important;}

/***右边侧栏***********************************************************************/
@media only screen and (max-width:900px) {
#leftbtn{display:block;}
.probox{font-size:10px;}
.title h2,.title h3{font-size:20px;}
.content{width:100%; min-width:110px;overflow:auto;}
.index{
	min-width:350px;
	position:fixed;
	bottom:0;
	top:0;
	transition:right 0.5s ease-out;
	z-index:200;
	transition:all 0.5s ease-out;}
#leftnone{display:block;}
#leftbar{
	left:-350px;
	opacity:0;}
}

