
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494906867937'); /* IE9*/
  src: url('iconfont.eot?t=1494906867937#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494906867937') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494906867937') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494906867937#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e604"; }

.icon-weixin:before { content: "\e63e"; }

.icon-weibiaoti1:before { content: "\e60a"; }

.icon-weibo:before { content: "\e619"; }

.icon-yanshi:before { content: "\e64e"; }

.icon-code1:before { content: "\e65f"; }

.icon-qq:before { content: "\e616"; }

.icon-iconfontweibowukuang:before { content: "\e661"; }

.icon-github:before { content: "\e69f"; }

.icon-down:before { content: "\e650"; }

.icon-boke1:before { content: "\e618"; }

.icon-goumaijianli:before { content: "\e64d"; }

.icon-code:before { content: "\e601"; }

.icon-dianhua1:before { content: "\e627"; }

.icon-pause:before { content: "\e711"; }

.icon-blog1:before { content: "\e660"; }

.icon-weixin1:before { content: "\e6a6"; }

.icon-last1157952easyiconnet:before { content: "\e6ac"; }

.icon-gongzuojingli:before { content: "\e6c8"; }

.icon-zhihu1:before { content: "\e61a"; }

.icon-close:before { content: "\e600"; }

.icon-boke:before { content: "\e6a7"; }

.icon-youxiang:before { content: "\e607"; }

.icon-blog:before { content: "\e602"; }

.icon-zuopin:before { content: "\e622"; }

.icon-more_app-copy:before { content: "\e605"; }

.icon-xinxi:before { content: "\e603"; }

.icon-last:before { content: "\e858"; }

.icon-longmao:before { content: "\e724"; }

.icon-longmao1:before { content: "\e725"; }

.icon-xingxing:before { content: "\e610"; }

.icon-gongzuojingli1:before { content: "\e60f"; }

.icon-Video:before { content: "\e79c"; }

.icon-Window:before { content: "\e79d"; }

.icon-zhihu:before { content: "\e617"; }

.icon-computer:before { content: "\e6bc"; }

.icon-heart:before { content: "\e6bd"; }

.icon-pencil:before { content: "\e6c0"; }

.icon-girl:before { content: "\e6c1"; }

.icon-shop:before { content: "\e6c6"; }

.icon-cup:before { content: "\e6c9"; }

.icon-jiaoyujingli:before { content: "\e611"; }

.icon-play:before { content: "\e72e"; }

.icon-icon-test:before { content: "\e629"; }

.icon-xingxing1:before { content: "\e633"; }

.icon-xinxi-:before { content: "\e60b"; }

.icon-xingxing2:before { content: "\e608"; }

.icon-shixinxingxing:before { content: "\e606"; }

