<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- 包含头部信息用于适应不同设备 -->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<link rel="shortcut icon" href="images/favicon0.ico">
<title>猫の家</title>
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/blog.css">
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/blog.js"></script>
</head>
<body>
<!--------导航------------------------------------------------------------------------>
<header id="header" >
  <div class="navbox">
    <div class="nav-left"> <a class="navbar-brand" href="#"  >猫岁的窝</a> </div>
    <ul class="nav-right">
        <li onClick="uppage()"><a href="blog.html">Home</a></li>
        <li onClick="downpage()"><a href="blog.html">Blog</a></li>
        <li><a  href="https://catsugar.github.io/my-Resume/CV/CV1.0.html">Resume</a> </li>
        <li><a href="https://github.com/Catsugar">Github</a></li>
        <li id="leftbtn"><a href="javascript:void(0)" >Menu</a></li>
     </ul>
  </div>
</header>
<!--------返回按钮------------------------------------------------------------------------>
<div id="backbtn" style="display:none">返回顶部</div>
<!--------覆盖层------------------------------------------------------------------------>
<div class="cover" id="cover" style="display:none"></div>
<!--------主体------------------------------------------------------------------------>
<div class="probox" id="probox"> 
  <!----------左边--------------------------------->
  <div class="index" id="leftbar">
    <div class="title">
      <h3>目录导航</h3>
      <div class="closebtn" id="leftnone"><i class="iconfont">&#xe600;</i></div>
    </div>
    <div class="list" id="list">
      <ul id="root">
      </ul>
    </div>
  </div>
  <!----------右边--------------------------------->
  <div class="content">
    <div class="title" id="title">
      <h2></h2>
    </div>
    <div class="showbox" id="showbox"> </div>
  </div>
</div>

<script type="text/javascript" src="js/data.js"></script> 
<script type="text/javascript" src="js/pro.js"></script>
</body>
</html>
